h1, p {
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}

#print-only {
   display : none;
}

@media print {
    #print-only {
       display : block;

    }
    #screen-only {
        display: none;
    }
}

#curl-url {
    font-family: Georgia, 'Times New Roman', Times, serif;
}