body {
    background-color: #ADD8E6;
}

h1, h2, p {
    font-family: 'Poppins', Arial, sans-serif;
}

h2 {
    margin-left: 20px;
}

#intro {
    text-align: center;
}

.group {
    padding: 40px;
    margin: 0 20px;
    background-color: #fff;
}

#print-only {
   display : none;
}

@media print {
    #print-only {
       display : block;

    }
    #screen-only {
        display: none;
    }
}

#curl-url {
    font-family: Georgia, 'Times New Roman', Times, serif;
}